img{
    width: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

nav{
    float:right;
    margin-top: 20px;
    margin-right: 900px;
}

a{
    text-decoration: none;
    font-family: fantasy;
    color: darkblue;
}

header{
    background-color: beige;
}

.ejemplo{
    float: right;
    color: blue;
    margin-top: none;
    margin-right: 1300px;
}




