img{
    width: 100px;
    margin-top: 50px;
    margin-left: 150px;
}

li{
    float: left;
    list-style: none;
    padding: 10px;
}
nav{
    float:right;
    margin-top: 60px;
    margin-right: 150px;
}

a{
    text-decoration: none;
    font-family: fantasy;
    color: darkblue;
}

header{
    background-color: beige;
}