img{
    width: 100px;
    margin-top: 15px;
    margin-left: 50px;
}

li{
    float: left;
    list-style: none;
    padding: 10px;

}

nav{
    float:right;
    margin-top: 60px;
    margin-right: 300px;
}

a{
    text-decoration: none;
    font-family: fantasy;
    color: darkblue;
}

header{
    background-color: beige;
}

ul{
    float: left;
}

